convml_11.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns="http://www.entertech.com.pl/bcml"
	   targetNamespace="http://www.entertech.com.pl/bcml"
	   xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
      Metajęzyk opisu elementów przenośników taśmowych. Służy do zbierania informacji
      oraz do zarządzania danymi dotyczącymi przenośników.

      Author: Marcin Kacprzak
      Author: Piotr Kulinowski
      Company: EnterTECH
      Id: $Id$
    </xs:documentation>
  </xs:annotation>
  <!-- **************************************************************************************
       *                                        CONVML                                         *
       ************************************************************************************** -->
  <xs:element name="ConvML" type="convMLType" />
  <!-- * -->
  <xs:element name="CONVML" substitutionGroup="ConvML" type="convMLType" />
  <!-- * -->
  <xs:complexType name="convMLType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Meta" nillable="true">
        <xs:complexType>
          <xs:all minOccurs="0">
            <xs:element name="Generator" type="xs:string" />
            <xs:element name="Title" type="xs:string" />
            <xs:element name="Description" type="xs:string" />
            <xs:element name="Creator" type="xs:token" />
            <xs:element name="CreationDate" type="xs:dateTime" />
            <xs:element name="ModifiedBy" type="xs:token" />
            <xs:element name="ModifiedDate" type="xs:dateTime" />
            <xs:element name="Language">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:token">
                    <xs:attribute name="link" type="xs:anyURI" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="UnitSystem">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:token">
                    <xs:attribute name="link" type="xs:anyURI" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <!-- * -->
      <xs:element minOccurs="0" maxOccurs="1" name="Types">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="MaterialType">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="materialType">
                    <xs:attributeGroup ref="typeAttrGroup" />
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="BeltSegmentType">
              <xs:complexType>
                <xs:attributeGroup ref="typeAttrGroup" />
                <xs:attributeGroup ref="beltSegmentAttrGroup" />
              </xs:complexType>
            </xs:element>
            <xs:element name="BeltSpliceType">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="beltSpliceType">
                    <xs:attributeGroup ref="typeAttrGroup" />
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="IdlerType">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="idlerType">
                    <xs:attributeGroup ref="typeAttrGroup" />
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
        <xs:key name="materialKey">
          <xs:selector xpath="MaterialType" />
          <xs:field xpath="@typeId" />
        </xs:key>
        <xs:key name="beltSegmentKey">
          <xs:selector xpath="BeltSegmentType" />
          <xs:field xpath="@typeId" />
        </xs:key>
        <xs:key name="beltSpliceKey">
          <xs:selector xpath="BeltSpliceType" />
          <xs:field xpath="@typeId" />
        </xs:key>
        <xs:key name="idlerKey">
          <xs:selector xpath="IdlerType" />
          <xs:field xpath="@typeId" />
        </xs:key>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" ref="BeltConveyor" />
    </xs:sequence>
    <xs:attribute fixed="1.2" name="version" type="xs:token" />
    <!--xs:attributeGroup ref="dataBaseGroup" /-->
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        CONDITIONS                                     *
       ************************************************************************************** -->
  <xs:element name="Conditions" type="conditionsType" />
  <!-- * -->
  <xs:complexType name="conditionsType">
    <!-- xs:attributeGroup ref="instanceAttrGroup" / -->
    <xs:attribute name="ambientTemperature" type="xs:decimal"/>
    <xs:attribute name="workConditions">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="1" />
          <xs:enumeration value="2" />
          <xs:enumeration value="3" />
          <xs:enumeration value="4" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="beltWorkConditions">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="1" />
          <xs:enumeration value="2" />
          <xs:enumeration value="3" />
          <xs:enumeration value="4" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="beltSideRunning">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="1" />
          <xs:enumeration value="2" />
          <xs:enumeration value="3" />
          <xs:enumeration value="4" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="amountWorkingHours" type="xs:nonNegativeInteger" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        MATERIAL                                       *
       ************************************************************************************** -->
  <xs:element name="Material">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="materialType" />
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- * -->
  <xs:attributeGroup name="materialAttrGroup">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="density" type="nonNegativeDecimalType" />
    <xs:attribute name="surchargeAngle" type="nonNegativeDecimalType" />
    <xs:attribute name="reposeAngle" type="nonNegativeDecimalType" />
    <xs:attribute name="lumpSizeMaximum" type="nonNegativeDecimalType" />
    <xs:attribute name="lumpPercTopSize" type="nonNegativeDecimalType" />
  </xs:attributeGroup>
  <!-- * -->
  <xs:complexType name="materialType">
    <xs:attribute name="type" type="xs:token" />
    <xs:attribute name="materialBeltFriction" type="nonNegativeDecimalType" />
    <xs:attribute name="temperature" type="nonNegativeDecimalType" />
    <xs:attributeGroup ref="materialAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        BELT CONVEYOR                                  *
       ************************************************************************************** -->
  <xs:element name="BeltConveyor" type="beltConveyorType" />
  <!-- * -->
  <xs:complexType name="beltConveyorType">
    <xs:sequence>
      <xs:element ref="Conditions" />
      <xs:element ref="Belt" />
      <xs:element ref="Tail" />
      <xs:element ref="Route" />
      <xs:element ref="Head" />
      <xs:element ref="ConvElectricalEquipment" />
    </xs:sequence>
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attribute name="beltSpeed" type="nonNegativeDecimalType" />
    <xs:attribute name="designCapacity" type="xs:nonNegativeInteger" />
    <xs:attribute name="localization" type="xs:token" />
    <xs:attribute name="mine" type="xs:token" />
    <xs:attribute name="mineArea" type="xs:token" />
    <xs:attribute name="convDivision" type="xs:token" />
    <xs:attribute name="mineDivision" type="xs:string" />
    <xs:attribute name="maxCapacity" type="xs:nonNegativeInteger" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        BELT                                           *
       ************************************************************************************** -->
  <xs:element name="Belt" type="beltType" />
  <!-- * -->
  <xs:complexType name="beltType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="BeltSplice" />
      <xs:element ref="BeltSegment" />
    </xs:sequence>
    <!-- xs:attributeGroup ref="instanceAttrGroup" / -->
    <xs:attribute name="width" type="xs:nonNegativeInteger" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        BELT SEGMENT                                   *
       ************************************************************************************** -->
  <xs:element name="BeltSegment" type="beltSegmentType">
    <xs:keyref name="beltSegmentRef" refer="beltSegmentKey">
      <xs:selector xpath="." />
      <xs:field xpath="@type" />
    </xs:keyref>
  </xs:element>
  <!-- * -->
  <xs:attributeGroup name="beltSegmentAttrGroup">
    <xs:attribute name="width" type="xs:nonNegativeInteger" />
    <xs:attribute name="strength" type="nonNegativeDecimalType" />
    <xs:attribute name="mass" type="nonNegativeDecimalType" />
    <xs:attribute name="thickness" type="nonNegativeDecimalType" />
    <xs:attribute name="topCoverThickness" type="nonNegativeDecimalType" />
    <xs:attribute name="bottomCoverThickness" type="nonNegativeDecimalType" />
    <xs:attribute name="carcassThickness" type="nonNegativeDecimalType" />
    <xs:attribute name="carcassType" type="xs:token" />
    <xs:attribute name="carcassCode" type="xs:token" />
    <xs:attribute name="elasticityModulus" type="nonNegativeDecimalType" />
    <xs:attribute name="pliesNumber" type="xs:nonNegativeInteger" />
    <xs:attribute name="cableDiameter" type="nonNegativeDecimalType" />
    <xs:attribute name="coverDescription" type="xs:token" />
    <xs:attribute name="coversDensity" type="nonNegativeDecimalType" />
  </xs:attributeGroup>
  <!-- * -->
  <xs:complexType name="beltSegmentType">
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attributeGroup ref="beltSegmentAttrGroup" />
    <xs:attribute name="length" type="nonNegativeDecimalType" />
    <xs:attribute name="certificate" type="xs:string" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        BELT SPLICE                                    *
       ************************************************************************************** -->
  <xs:element name="BeltSplice" type="beltSpliceType">
    <xs:keyref name="beltSpliceRef" refer="beltSpliceKey">
      <xs:selector xpath="." />
      <xs:field xpath="@type" />
    </xs:keyref>
  </xs:element>
  <!-- * -->
  <xs:attributeGroup name="beltSpliceAttrGroup">
    <xs:attribute name="spliceStrength" type="nonNegativeDecimalType" />
    <xs:attribute name="spliceType" type="xs:string" />
  </xs:attributeGroup>
  <!-- * -->
  <xs:complexType name="beltSpliceType">
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attributeGroup ref="beltSpliceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        ROUTE                                          *
       ************************************************************************************** -->
  <xs:element name="Route" type="routeType" />
  <!-- * -->
  <xs:complexType name="routeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="RouteSection" />
    </xs:sequence>
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        HEAD                                           *
       ************************************************************************************** -->
  <xs:element name="Head" type="headTailType" />
  <!-- **************************************************************************************
       *                                        TAIL                                           *
       ************************************************************************************** -->
  <xs:element name="Tail" type="headTailType" />
  <!-- **************************************************************************************
       *                                        CARRY                                          *
       ************************************************************************************** -->
  <xs:element name="Carry" type="carryReturnType" />
  <!-- **************************************************************************************
       *                                        RETURN                                         *
       ************************************************************************************** -->
  <xs:element name="Return" type="carryReturnType" />
  <!-- **************************************************************************************
       *                                        IDLER SET                                      *
       ************************************************************************************** -->
  <xs:element name="IdlerSet" type="idlerSetType" />
  <!-- * -->
  <xs:complexType name="idlerSetType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="5" ref="Idler" />
    </xs:sequence>
    <xs:attribute name="x" type="xs:decimal" />
    <xs:attribute name="y" type="xs:decimal" />
    <xs:attributeGroup ref="instanceAttrGroup" />
    <!--xs:attribute name="type" /-->
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        IDLER                                          *
       ************************************************************************************** -->
  <xs:element name="Idler">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="idlerType" />
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- * -->
  <xs:attributeGroup name="idlerAttrGroup">
    <xs:attribute name="diameter" type="nonNegativeDecimalType" />
    <xs:attribute name="idlerType" type="xs:token" />
    <xs:attribute name="length" type="nonNegativeDecimalType" />
    <xs:attribute name="rotatingPartsMass" type="nonNegativeDecimalType" />
    <xs:attributeGroup ref="pulleyIdlerGroup" />
  </xs:attributeGroup>
  <!-- * -->
  <xs:complexType name="idlerType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="2" ref="Bearing" />
    </xs:sequence>
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attributeGroup ref="idlerAttrGroup" />
    <xs:attribute name="troughingAngle" type="nonNegativeDecimalType" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        CHUTE                                          *
       ************************************************************************************** -->
  <xs:element name="Chute">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="chuteType" />
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- * -->
  <xs:attributeGroup name="chuteAttrGroup">
    <xs:attribute name="skirtLength" type="nonNegativeDecimalType" />
    <xs:attribute name="skirtWidth" type="nonNegativeDecimalType" />
  </xs:attributeGroup>
  <!-- * -->
  <xs:complexType name="chuteType">
    <xs:sequence>
      <xs:element ref="Material" />
    </xs:sequence>
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attribute name="horizontalSpeed" type="nonNegativeDecimalType" />
    <xs:attribute name="skirtMaterialFriction" type="nonNegativeDecimalType" />
    <xs:attribute name="capacity" type="nonNegativeDecimalType" />
    <xs:attribute name="fallHeight" type="nonNegativeDecimalType" />
    <xs:attributeGroup ref="chuteAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        PULLEY                                         *
       ************************************************************************************** -->
  <xs:element name="Pulley" type="pulleyType" />
  <!-- * -->
  <xs:complexType name="pulleyType">
    <xs:sequence minOccurs="0">
      <xs:choice minOccurs="0">
        <xs:element maxOccurs="2" ref="DriveUnit" />
        <xs:element ref="TakeUpSystem" />
      </xs:choice>
      <xs:element minOccurs="0" ref="Unload" />
    </xs:sequence>
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attribute name="diameter" type="nonNegativeDecimalType" />
    <xs:attribute name="pulleyBeltFriction" type="nonNegativeDecimalType" />
    <xs:attribute name="wrapAngle" type="xs:decimal" />
    <xs:attribute name="x" type="xs:decimal" />
    <xs:attribute name="y" type="xs:decimal" />
    <xs:attribute name="rotation">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="cw" />
          <xs:enumeration value="ccw" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="number" type="xs:nonNegativeInteger" />
    <xs:attributeGroup ref="pulleyIdlerGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                CONV ELECTRICAL EQUIPMENT                              *
       ************************************************************************************** -->
  <xs:element name="ConvElectricalEquipment" type="convElectricalEquipmentType" />
  <!-- * -->
  <xs:complexType name="convElectricalEquipmentType">
    <xs:sequence>
      <xs:element ref="ControlSystem" />
      <xs:element ref="EmergencySystem" />
      <xs:element ref="SignalSystem" />
      <xs:element ref="FireSystem" />
    </xs:sequence>
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    ELECTRICAL EQUIPMENT                               *
       ************************************************************************************** -->
  <xs:element name="ElectricalEquipment" type="electricalEquipmentType" />
  <!-- * -->
  <xs:complexType name="electricalEquipmentType">
    <!-- xs:attributeGroup ref="instanceAttrGroup" /-->
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        TT DRIVE                                       *
       ************************************************************************************** -->
  <xs:element name="TTDrive" type="ttDriveType" />
  <!-- * -->
  <xs:complexType name="ttDriveType">
    <xs:sequence>
      <xs:element ref="Belt" />
      <xs:element maxOccurs="2" ref="Pulley" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IdlerSet" />
        <xs:element ref="IdlerSetSpecial" />
        <xs:element ref="SlipPlate" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    COOLING SYSTEM                                     *
       ************************************************************************************** -->
  <xs:element name="CoolingSystem" type="coolingSystemType" />
  <!-- * -->
  <xs:complexType name="coolingSystemType">
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    TAKE UP SYSTEM                                     *
       ************************************************************************************** -->
  <xs:element name="TakeUpSystem" type="takeUpSystemType" />
  <!-- * -->
  <xs:complexType name="takeUpSystemType">
    <xs:choice maxOccurs="unbounded">
      <xs:element ref="StrechingCar" />
      <xs:element minOccurs="0" ref="RopeSystem" />
      <xs:element minOccurs="0" ref="Winch" />
      <xs:element minOccurs="0" maxOccurs="2" ref="GravitySystem" />
      <xs:element minOccurs="0" maxOccurs="2" ref="HydraulicSystem" />
      <xs:element minOccurs="0" maxOccurs="2" ref="PneumaticSystem" />
      <xs:element ref="ElectricalEquipment" />
    </xs:choice>
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                ADDITIONAL EQUIPMENT                                    *
       ************************************************************************************** -->
  <xs:element name="AdditionalEquipment" type="additionalEquipmentType" />
  <!-- * -->
  <xs:complexType name="additionalEquipmentType">
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    CLEANING DEVICE                                    *
       ************************************************************************************** -->
  <xs:element name="CleaningDevice" type="cleaningDeviceType" />
  <!-- * -->
  <xs:complexType name="cleaningDeviceType">
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    ROUTE SECTION                                      *
       ************************************************************************************** -->
  <xs:element name="RouteSection" type="routeSectionType" />
  <!-- * -->
  <xs:complexType name="routeSectionType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="RouteSegment" />
    </xs:choice>
    <!--xs:attributeGroup ref="instanceAttrGroup" /-->
    <xs:attributeGroup ref="lengthAngleGroup" />
    <xs:attribute name="verticalRadius" type="xs:decimal" />
    <xs:attribute name="horizontalRadius" type="xs:decimal" />
    <!--xs:attribute name="number" type="xs:nonNegativeInteger" /-->
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    IDLER SET SPECIAL                                  *
       ************************************************************************************** -->
  <xs:element name="IdlerSetSpecial" type="idlerSetSpecialType" />
  <!-- * -->
  <xs:complexType name="idlerSetSpecialType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="Idler" />
    </xs:sequence>
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        SLIP PLATE                                     *
       ************************************************************************************** -->
  <xs:element name="SlipPlate" type="slipPlateType" />
  <!-- * -->
  <xs:complexType name="slipPlateType">
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        MOTOR                                          *
       ************************************************************************************** -->
  <xs:element name="Motor" type="motorType" />
  <!-- * -->
  <xs:complexType name="motorType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="CoolingSystem" />
    </xs:sequence>
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attribute name="power" type="nonNegativeDecimalType" />
    <xs:attribute name="nominalRotationalSpeed" type="nonNegativeDecimalType" />
    <xs:attribute name="startupFactor" type="nonNegativeDecimalType" />
    <xs:attribute name="overloadFactor" type="nonNegativeDecimalType" />
    <xs:attribute name="inertiaMoment" type="nonNegativeDecimalType" />
    <xs:attribute name="voltage" type="xs:decimal" />
    <xs:attribute name="currentRated" type="xs:decimal" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        COUPLING                                       *
       ************************************************************************************** -->
  <xs:element name="Coupling" type="couplingType" />
  <!-- * -->
  <xs:complexType name="couplingType">
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        BRAKE                                            *
       ************************************************************************************** -->
  <xs:element name="Brake" type="brakeType" />
  <!-- * -->
  <xs:complexType name="brakeType">
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    FLUID COUPLING                                     *
       ************************************************************************************** -->
  <xs:element name="FluidCoupling" type="fluidCouplingType" />
  <!-- * -->
  <xs:complexType name="fluidCouplingType">
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attribute name="slip" type="nonNegativeDecimalType" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        GEARBOX                                        *
       ************************************************************************************** -->
  <xs:element name="Gearbox" type="gearboxType" />
  <!-- * -->
  <xs:complexType name="gearboxType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="CoolingSystem" />
    </xs:sequence>
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attribute name="gearRatio" type="nonNegativeDecimalType" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        BEARING                                        *
       ************************************************************************************** -->
  <xs:element name="Bearing" type="bearingType" />
  <!-- * -->
  <xs:complexType name="bearingType">
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attribute name="static" type="nonNegativeDecimalType" />
    <xs:attribute name="dynamic" type="nonNegativeDecimalType" />
    <xs:attribute name="diameterOutside" type="nonNegativeDecimalType" />
    <xs:attribute name="diameterInside" type="nonNegativeDecimalType" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    STRECHING CAR                                      *
       ************************************************************************************** -->
  <xs:element name="StrechingCar" type="strechingCarType" />
  <!-- * -->
  <xs:complexType name="strechingCarType">
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attribute name="numberOfDiscs" type="xs:nonNegativeInteger" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        ROPE SYSTEM                                    *
       ************************************************************************************** -->
  <xs:element name="RopeSystem" type="ropeSystemType" />
  <!-- * -->
  <xs:complexType name="ropeSystemType">
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        WINCH                                            *
       ************************************************************************************** -->
  <xs:element name="Winch" type="winchType" />
  <!-- * -->
  <xs:complexType name="winchType">
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attributeGroup ref="takeUpTensionGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    GRAVITY SYSTEM                                     *
       ************************************************************************************** -->
  <xs:element name="GravitySystem" type="gravitySystemType" />
  <!-- * -->
  <xs:complexType name="gravitySystemType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="2" ref="Counterweight" />
    </xs:sequence>
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attributeGroup ref="takeUpTensionGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    HYDRAULIC SYSTEM                                   *
       ************************************************************************************** -->
  <xs:element name="HydraulicSystem" type="hydraulicSystemType" />
  <!-- * -->
  <xs:complexType name="hydraulicSystemType">
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attributeGroup ref="takeUpTensionGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    PNEUMATIC SYSTEM                                   *
       ************************************************************************************** -->
  <xs:element name="PneumaticSystem" type="pneumaticSystemType" />
  <!-- * -->
  <xs:complexType name="pneumaticSystemType">
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attributeGroup ref="takeUpTensionGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    CONTROL SYSTEM                                     *
       ************************************************************************************** -->
  <xs:element name="ControlSystem" type="controlSystemType" />
  <!-- * -->
  <xs:complexType name="controlSystemType">
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    EMERGENCY SYSTEM                                   *
       ************************************************************************************** -->
  <xs:element name="EmergencySystem" type="emergencySystemType" />
  <!-- * -->
  <xs:complexType name="emergencySystemType">
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    SIGNAL SYSTEM                                      *
       ************************************************************************************** -->
  <xs:element name="SignalSystem" type="signalSystemType" />
  <!-- * -->
  <xs:complexType name="signalSystemType">
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    FIRE SYSTEM                                        *
       ************************************************************************************** -->
  <xs:element name="FireSystem" type="fireSystemType" />
  <!-- * -->
  <xs:complexType name="fireSystemType">
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        DRIVE UNIT                                     *
       ************************************************************************************** -->
  <xs:element name="DriveUnit" type="driveUnitType" />
  <!-- * -->
  <xs:complexType name="driveUnitType">
    <xs:choice maxOccurs="unbounded">
      <xs:element ref="Motor" />
      <xs:element maxOccurs="2" ref="Coupling" />
      <xs:element minOccurs="0" ref="Brake" />
      <xs:element minOccurs="0" ref="FluidCoupling" />
      <xs:element ref="Gearbox" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="AdditionalEquipment" />
      <xs:element ref="ElectricalEquipment" />
    </xs:choice>
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attribute name="dynamicSurplusFactor" type="nonNegativeDecimalType" />
    <xs:attribute name="brakeFactor" type="nonNegativeDecimalType" />
    <xs:attribute name="driveEfficiency" type="nonNegativeDecimalType" />
    <xs:attribute name="startupControlSystem" type="xs:token" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                    ROUTE SEGMENT                                        *
       ************************************************************************************** -->
  <xs:element name="RouteSegment" type="routeSegmentType" />
  <!-- * -->
  <xs:complexType name="routeSegmentType">
    <xs:sequence minOccurs="0">
      <xs:element ref="Carry" />
      <xs:element ref="Return" />
    </xs:sequence>
    <xs:attributeGroup ref="instanceAttrGroup" />
    <!--xs:attributeGroup ref="lengthAngleGroup" /-->
    <xs:attribute name="length" type="nonNegativeDecimalType" />
    <!--xs:attribute name="number" type="xs:nonNegativeInteger" /-->
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        UNLOAD                                         *
       ************************************************************************************** -->
  <xs:element name="Unload" type="unloadType" />
  <!-- * -->
  <xs:complexType name="unloadType">
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- **************************************************************************************
       *                                        COUNTERWEIGHT                                  *
       ************************************************************************************** -->
  <xs:element name="Counterweight" type="counterweightType" />
  <!-- * -->
  <xs:complexType name="counterweightType">
    <xs:attribute name="numberOfDiscs" type="xs:nonNegativeInteger" />
    <xs:attribute name="mass" type="nonNegativeDecimalType" />
    <xs:attributeGroup ref="instanceAttrGroup" />
  </xs:complexType>
  <!-- ********************************************** -->
  <xs:complexType name="carryReturnType">
    <xs:choice maxOccurs="unbounded">
      <xs:element minOccurs="0" ref="Pulley" />
      <xs:element minOccurs="0" ref="TTDrive" />
      <xs:element minOccurs="0" ref="Chute" />
      <xs:element minOccurs="0" ref="IdlerSet" />
      <xs:element minOccurs="0" ref="IdlerSetSpecial" />
      <xs:element minOccurs="0" ref="SlipPlate" />
      <xs:element minOccurs="0" ref="ElectricalEquipment" />
      <xs:element minOccurs="0" ref="AdditionalEquipment" />
      <xs:element minOccurs="0" ref="Unload" />
    </xs:choice>
    <!--xs:attributeGroup ref="instanceAttrGroup" /-->
  </xs:complexType>
  <!-- **************************************************** -->
  <xs:complexType name="headTailType">
    <xs:all>
      <xs:element ref="Pulley" />
      <xs:element ref="Carry" />
      <xs:element ref="Return" />
    </xs:all>
    <xs:attributeGroup ref="instanceAttrGroup" />
    <xs:attributeGroup ref="lengthAngleGroup" />
  </xs:complexType>
  <!-- **************************************************** -->
  <xs:simpleType name="nonNegativeDecimalType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <!-- **************************************************** -->
  <xs:simpleType name="oneToFourEnumType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
    </xs:restriction>
  </xs:simpleType>
  <!-- ATTRIBUTE GROUPS *********************************** -->
  <!--xs:attributeGroup name="dataBaseGroup">
      <xs:annotation>
      <xs:documentation>Atrybuty powiązane z obsługą relacyjnych baz danych</xs:documentation>
      </xs:annotation>
      <xs:attribute name="id" type="xs:long" />
      </xs:attributeGroup-->
  <!-- **************************************************** -->
  <xs:attributeGroup name="commonAttrGroup">
    <xs:attribute name="id" type="xs:ID" />
    <xs:attribute name="description" type="xs:string" />
  </xs:attributeGroup>
  <!-- **************************************************** -->
  <xs:attributeGroup name="instanceAttrGroup">
    <xs:attribute name="type" type="xs:token" />
     <xs:attribute name="productionDate" type="xs:date" />
  </xs:attributeGroup>
  <!-- **************************************************** -->
  <xs:attributeGroup name="typeAttrGroup">
    <xs:attribute name="typeId" type="xs:token" use="required" />
    <xs:attribute name="typeName" type="xs:token" />
    <xs:attribute name="typeDescription" type="xs:string" />
    <xs:attribute name="manufacturer" type="xs:token" />
  </xs:attributeGroup>
  <!-- **************************************************** -->
  <xs:attributeGroup name="lengthAngleGroup">
    <xs:attribute name="length" type="nonNegativeDecimalType" />
    <xs:attribute name="angle">
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:minInclusive value="-90" />
          <xs:maxInclusive value="90" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!-- **************************************************** -->
  <xs:attributeGroup name="takeUpTensionGroup">
    <xs:attribute name="takeUpTension" type="xs:decimal" />
  </xs:attributeGroup>
  <!-- **************************************************** -->
  <xs:attributeGroup name="pulleyIdlerGroup">
    <xs:attribute name="mass" type="nonNegativeDecimalType" />
    <xs:attribute name="inertiaMoment" type="nonNegativeDecimalType" />
  </xs:attributeGroup>
  <!-- **************************************************** -->
  <xs:attributeGroup name="coordinatesAttrGroup">
    <xs:attribute name="x" type="xs:decimal" />
    <xs:attribute name="y" type="xs:decimal" />
  </xs:attributeGroup>
</xs:schema>